@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We are a bare bones Resaturaunt review web application. We make no promises that any restauraunt exists at all. Consume at your own risk.</p>
